<!-- Display face recognition result  -->
<div id="face-result-div" class="menu-div padded">
<textarea name="text" id="text" class="medium" readonly>
<% if ( ui.data.rekogResultFace ) { %><%= ui.data.rekogResultFace %><% } %>
</textarea>
</div>