<div id="image-display" class="padded">
    <% if (!ui.supressUi) { %>
    <label>Image:</label>
    <% if (ui.data.filename) { %>
    <img src="<%= ui.data.filename %>" height="250">
    <% } else { %>
    <img src= "blank.png" height="250">
    <% } %>
    <% } %>
</div>