<!-- Display label recognition result  -->
<div id="label-result-div" class="menu-div padded">
<textarea name="labels" id="labels" class="medium" readonly>
<% if ( ui.data.rekogResultLabel ) { %><%= ui.data.rekogResultLabel %><% } %>
</textarea>
</div>