<div id="result-buttons" class="padded">
    <label>Results:</label>
    <input id='label-button' class="menu-button" type="submit" value="Labels"
        onclick="activateUI('label-result-div','label-button')">
    <input id='text-button' class="menu-button" type="submit" value="Text"
        onclick="activateUI('text-result-div','text-button')">
    <input id='face-button' class="menu-button" type="submit" value="Face"
        onclick="activateUI('face-result-div','face-button')">
</div>