<!-- Display text recognition result  -->
<div id="text-result-div" class="menu-div padded">
<textarea name="text" id="text" class="medium" readonly>
<% if ( ui.data.rekogResultText ) { %><%= ui.data.rekogResultText %><% } %>
</textarea>
</div>