<% if (!ui.supressUi) { %>
<div class="title groupdiv">
    <table class="title">
        <tr>
            <td width="1%"><img src= "rekognition.png" height="60"></td>
            <td>
                    <h1 class="title">Rekog AI</h1>
            </td>
            <td class="subtitle">
                   <span class="subtitle">AWS Rekognition Web App</span>
            </td>
        </tr>
    </table>
    <hr>

</div>
<% } %>